@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  @apply bg-gray-900 text-gray-100;
}
[data-theme="light"] {
  @apply bg-gray-50 text-gray-900;
}
.bg-card {
  @apply bg-white dark:bg-gray-800;
}

.text-base {
  @apply text-gray-900 dark:text-gray-100;
}

.text-content {
  @apply text-gray-600 dark:text-gray-300;
}
.text-shape {
  @apply fill-indigo-300 dark:fill-indigo-900;
}
.text-secondary-content {
  @apply text-indigo-600 dark:text-indigo-400;
}
.w-md-editor,
.w-md-editor-toolbar {
  @apply !bg-white dark:!bg-gray-800 !text-gray-900 dark:!text-gray-100;
}
.w-md-editor {
  @apply !shadow-lg rounded-full;
}
.w-md-editor-content,
.w-md-editor-toolbar {
  @apply !border !border-primary;
  color: inherit !important;
}

/* .w-md-editor {
  border: 1px solid red !important;
  box-shadow: none;
} */

.wmde-markdown {
  background-color: transparent !important;
  color: inherit !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
}

.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
  border: none !important;
  margin: 10px 0 !important;
}
.wmde-markdown code {
  color: initial !important;
}
/* need screen <= 340px */
@media (max-width: 370px) {
  .slogan {
    font-size: 8px;
  }
}
